.cont
    .bio(style="display: none;")
        .photo(style="background-image: url(//res.#{media_url}jessica_chou_journalist.jpg);")
        .contact
            div(class="addthis_horizontal_follow_toolbox")
        section
            span Hi! I’m Jess. I’m a multimedia journalist and digital strategist. Currently I’m the Director of Content Development 
            | &nbsp;at #[a(href="http://www.refinery29.com/author/jessica-chou")Refinery29],
            | &nbsp;where I launched #[a(href="http://www.refinery29.com/money-diary") Money Diaries], #[a(href="https://refinery29.com/sweet-digs") Sweet Digs], and #[a(href="https://www.youtube.com/watch?v=HjhlviB2GO8&list=PLJEQBmLpTgd9os1vfM6x_CZTxUrVpeabW") Good Chef, Bad Kitchen].
            | &nbsp; I now manage the Snapchat Discover and Instagram teams at Refinery29, but in my spare time, I've written a book! (It's top secret right now, though.)
        section
            span In the past, I’ve been a news editor at The Daily Meal, where I hobnobbed with chefs and started
            | &nbsp;the #[a(href="http://www.thedailymeal.com/free-tagging-cuisine/chefs-home") Chefs At Home] series.
            | &nbsp;I’ve also written and photographed for the likes of Flavorpill, MTV Iggy (RIP), Giada Weekly,
            | &nbsp;#[a(href="https://www.openingceremony.com/entry.asp?sid=5&filed=jessica+chou") Opening Ceremony],
            | &nbsp;#[a(href="http://www.ediblemanhattan.com/author/jessica-chou/") Edible Manhattan]
            | &nbsp;and #[a(href="http://www.ediblebrooklyn.com/author/jessica-chou/") Brooklyn],
            | &nbsp;#[a(href="http://www.lonny.com/team/JessicaChou") Lonny] magazine, 
            | &nbsp;#[a(href="https://www.porterandsail.com") Porter & Sail],
            | &nbsp;and #[a(href="http://nymag.com/search/search.cgi?search_type=sw&textquery=jessica+chou") nymag.com].
            | &nbsp;Sometimes, I'm a hand model.
