.cont
    .bio(style="display: none;")
        .photo(style="background-image: url(//res.#{media_url}jess.jpeg);")
        .contact
            div(class="addthis_horizontal_follow_toolbox")
        section
            span Hi! I’m Jess. I’m a multimedia journalist and digital strategist. Currently I’m an editor
            | &nbsp;at #[a(href="http://www.refinery29.com/author/jessica-chou") Refinery29],
            | &nbsp;where I’ve launched the #[a(href="http://www.refinery29.com/money-diary") Money Diaries] series,
            | &nbsp;Snapchat Discover editorial team, and Digital Innovation team.
        section
            span In the past, I’ve been a news editor at The Daily Meal, where I hobnobbed with chefs and started
            | &nbsp;the #[a(href="http://www.thedailymeal.com/free-tagging-cuisine/chefs-home") Chefs At Home] series.
            | &nbsp;I’ve also written and photographed for the likes of Flavorpill, MTV Iggy (RIP), Giada Weekly,
            | &nbsp;#[a(href="https://www.openingceremony.com/entry.asp?sid=5&filed=jessica+chou") Opening Ceremony],
            | &nbsp;#[a(href="http://www.ediblemanhattan.com/author/jessica-chou/") Edible Manhattan]
            | &nbsp;and #[a(href="http://www.ediblebrooklyn.com/author/jessica-chou/") Brooklyn],
            | &nbsp;#[a(href="http://www.lonny.com/team/JessicaChou") Lonny] magazine, 
            | &nbsp;#[a(href="https://www.porterandsail.com") Porter & Sail],
            | &nbsp;and #[a(href="http://nymag.com/search/search.cgi?search_type=sw&textquery=jessica+chou") nymag.com].
            | &nbsp;Sometimes, I'm a hand model.
