.menu
    .about
        .h3.bio-link About Me
    .controls
        ul.categories
            li
                .h3.top Topic
                ul.choices
                    li.h5.topic#food Food
                    li.h5.topic#fashion Fashion
                    li.h5.topic#art Art / Entertainment
                    li.h5.topic#life General Lifestyle
                    li.h5.topic#home Home
            li
                .h3.med Medium
                ul.choices
                    li.h5.medium#photo Photography
                    li.h5.medium#video Video
                    li.h5.medium#writing Writing
                    li.h5.medium#gifs GIFs

    .bottom
        .name
            .h1 Jessica K. Chou
        .tag
            .h5 Multimedia Journalist & Strategist