.menu
    .about
        .h3 About Me
    .controls
        ul
            li
                .h3 Topic
                ul
                    li.h5 Food
                    li.h5 Fashion
                    li.h5 Art / Entertainment
                    li.h5 Lifestyle
                    li.h5 Home
            li
                .h3 Medium
                ul
                    li.h5 Photography
                    li.h5 Video
                    li.h5 Writing
                    li.h5 GIFs

    .bottom
        .name
            .h1 Jessica K. Chou
        .tag
            .h5 Multimedia Journalist & Strategist